* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */
body {
    background-color: rgb(255, 245, 226);
}

.wrapper {
    width: 50%;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
}


/* HEADER */
header {
    height: 100px;
    background-color: rgb(253, 187, 64);
}

